.job-section-container {
  background-color: #000000;
  height: 100vh;
  background-size: cover;
}
.small-container {
  width: 90%;
  margin: auto;
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rightsidediv {
  width: 30%;
}
.leftsidediv {
  background-color: green;
  width: 60%;
}
